/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fffbf1;
  color: #222;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


















